/* Ajout des images des composants */
.composant img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 150px;
    object-fit: cover;
}

/* Panier */
#panier-content {
    margin-top: 20px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    min-height: 120px;
}
#vider-panier {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: var(--red);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
